<table>
  <tbody>
    <tr>
      <td><p>Thank you for your purchase of a <%= @product_name %></p></td>
    </tr>
    <tr>
      <td><p>Your order number is <%= @order_id %></p></td>
    </tr>
    <tr>
      <td><p>Your total amount was <%= @order_total %></p></td>
    </tr>
  </tbody>
</table>
